<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">NAVEGACIÓN PRINCIPAL</li>
      <li class="active treeview">
        <a routerLink="/listaClientes">
          <i class="fa fa-edit"></i>
          <span>Lista de clientes</span>
        </a>
      </li>
      <li class="treeview" *ngIf="!singletonService.isMobile">
        <a href="#">
          <i class="fa fa-table"></i>
          <span>Gestión articulo y rubro</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a routerLink="/listaArticulos" routerLinkActive="active">
              <i class="fa fa-circle-o"></i> Articulos</a>
          </li>
          <li>
            <a routerLink="/listaRubros" routerLinkActive="active">
              <i class="fa fa-circle-o"></i> Rubros</a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>