<div class="box box-primary">
  <div class="box-header with-border">

    <h2>Lista de Pedidos de venta: <strong>{{cliente.razonsocial}}</strong></h2>
    
    <p-dataTable [value]="listaPedidoVenta" selectionMode="single" sortMode="single" reorderableColumns="true" [globalFilter]="gb"
      scrollable="true" scrollHeight="450px" columnResizeMode="expand" [(selection)]="pedidoVenta" (onRowSelect)="onRowSelect($event)"
      [paginator]="true" rows="15" [responsive]="true">

      <p-header>
        <div class="ui-helper-clearfix" style="width:100%">
          <button type="button" pButton icon="fa-plus" style="float:left" (click)="agregar()" label="Nuevo"></button>
          <button type="button" pButton icon="fa-edit" style="float:left" (click)="editar()" label="Modificar" *ngIf="!sinConexion"></button>
          <button type="button" pButton icon="fa-remove" style="float:left" (click)="delete()" label="Eliminar" *ngIf="!sinConexion"></button>
          <button type="button" pButton icon="fa-reply" style="float:right" (click)="volver()" label="Regresar"></button>
        </div>
      </p-header>

      <p-column field="idpedidoventa" header="Id" [sortable]="true"></p-column>
      <p-column field="fechaentrega" header="Fecha de entrega" [sortable]="false"></p-column>
      <p-column field="estado" header="Estado" [sortable]="false"></p-column>
      <p-column field="fechapedido" header="Fecha de pedido" [sortable]="false"></p-column>
      <p-column field="subtotal" header="Sub total" [sortable]="false"></p-column>
      <p-column field="montototal" header="Monto total" [sortable]="false"></p-column>
    </p-dataTable>
    <br>
    <button type="submit" class="btn btn-success btn-lg" style="float: right;" (click)="sincronizar()" *ngIf="singletonService.isMobile">Sincronizar</button>
  </div>
</div>
