<div class="box box-primary">
  <div class="box-header with-border">

    <h2>Lista de Clientes</h2>

    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input #gb type="text" pInputText size="50" placeholder="Buscar">
    </div>

    <p-dataTable [value]="listaCliente" selectionMode="single" sortMode="single" reorderableColumns="true" [globalFilter]="gb"
      scrollable="true" scrollHeight="450px" columnResizeMode="expand" [(selection)]="cliente" (onRowUnselect)="onRowUnselect($event)"
      (onRowSelect)="onRowSelect($event)" [paginator]="true" rows="15" [responsive]="true">

      <p-header>
        <div class="ui-helper-clearfix" style="width:100%">
          <button type="button" pButton icon="fa-plus" style="float:left" (click)="agregar()" label="Nuevo"></button>
          <button type="button" pButton icon="fa-edit" style="float:left" (click)="editar()" label="Modificar"></button>
          <button type="button" pButton icon="fa-remove" style="float:left" (click)="delete()" label="Eliminar"></button>
          <button type="button" pButton icon="fa-file-text-o" style="float:right" (click)="pedidoVenta()" label="Pedido de ventas"></button>

        </div>
      </p-header>

      <p-column field="idcliente" header="Id" [sortable]="true" [style]="{'width': '100px'}"></p-column>
      <p-column field="razonsocial" header="Razon social" [sortable]="false" [style]="{'width': '200px'}"></p-column>
      <p-column field="cuit" header="Cuit" [sortable]="false" [style]="{'width': '200px'}"></p-column>
      <p-column field="saldo" header="Saldo" [sortable]="false" [style]="{'width': '200px'}"></p-column>
    </p-dataTable>
    <br>
    <button type="button" class="btn btn-success btn-lg" style="float: right;" (click)="calcularSaldo()">Calcular saldo</button>

  </div>
</div>