<div class="box box-primary">
  <div class="box-header with-border">
    <h1>Formulario pedido venta
      <strong *ngIf="pedidoVenta.idpedidoventa">nro {{pedidoVenta.idpedidoventa}}</strong>
    </h1>
    <form [formGroup]="formularioPedidoVenta" novalidate class="form-group">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="fechaentrega">Fecha de entrega</label>
            <input formControlName="fechaentrega" type="date" id="fechaentrega" class="form-control" [(ngModel)]="pedidoVenta.fechaentrega">
            <div *ngIf="formularioPedidoVenta.get('fechaentrega').errors && formularioPedidoVenta.get('fechaentrega').dirty" class="alert alert-danger">
              <p *ngIf="formularioPedidoVenta.get('fechaentrega').hasError('required')">Este campo es obligatorio</p>
              <p *ngIf="formularioPedidoVenta.get('fechaentrega').hasError('pattern')">Ingrese una fecha válida</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="fechapedido">Fecha de pedido</label>
            <input formControlName="fechapedido" type="date" id="fechapedido" class="form-control" [(ngModel)]="pedidoVenta.fechapedido">
            <div *ngIf="formularioPedidoVenta.get('fechapedido').errors && formularioPedidoVenta.get('fechapedido').dirty" class="alert alert-danger">
              <p *ngIf="formularioPedidoVenta.get('fechapedido').hasError('required')">Este campo es obligatorio</p>
              <p *ngIf="formularioPedidoVenta.get('fechapedido').hasError('pattern')">Ingrese una fecha válida</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="estado">Estado</label>
            <select formControlName="estado" id="estado" class="form-control" [(ngModel)]="pedidoVenta.estado">
              <option *ngFor="let estado of opcionEstado" [value]="estado">{{estado}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="entregado">Entregado</label>
            <select formControlName="entregado" id="entregado" class="form-control" [(ngModel)]="pedidoVenta.entregado">
              <option *ngFor="let entregado of opcionEntregado" [value]="entregado.valor">{{entregado.nombre}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="nropedido">Numero de pedido</label>
            <input formControlName="nropedido" type="number" id="nropedido" class="form-control" [(ngModel)]="pedidoVenta.nropedido">
            <div *ngIf="formularioPedidoVenta.get('nropedido').errors && formularioPedidoVenta.get('nropedido').dirty" class="alert alert-danger">
              <p *ngIf="formularioPedidoVenta.get('nropedido').hasError('required')">Este campo es obligatorio</p>
              <p *ngIf="formularioPedidoVenta.get('nropedido').hasError('pattern') || formularioPedidoVenta.get('nropedido').hasError('maxlength')">Ingrese un numero válido</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="calle">Calle</label>
            <input formControlName="calle" type="text" id="calle" class="form-control" [(ngModel)]="pedidoVenta.domicilio.calle">
            <div *ngIf="formularioPedidoVenta.get('calle').errors && formularioPedidoVenta.get('calle').dirty" class="alert alert-danger">
              <p *ngIf="formularioPedidoVenta.get('calle').hasError('required')">Este campo es obligatorio</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="numero">Numero</label>
            <input formControlName="numero" type="number" id="numero" class="form-control" [(ngModel)]="pedidoVenta.domicilio.numero">
            <div *ngIf="formularioPedidoVenta.get('numero').errors && formularioPedidoVenta.get('numero').dirty" class="alert alert-danger">
              <p *ngIf="formularioPedidoVenta.get('numero').hasError('required')">Este campo es obligatorio</p>
              <p *ngIf="formularioPedidoVenta.get('numero').hasError('pattern') || formularioPedidoVenta.get('numero').hasError('maxlength')">Ingrese un numero válido</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="localidad">Localidad</label>
            <input formControlName="localidad" type="text" id="localidad" class="form-control" [(ngModel)]="pedidoVenta.domicilio.localidad">
            <div *ngIf="formularioPedidoVenta.get('localidad').errors && formularioPedidoVenta.get('localidad').dirty" class="alert alert-danger">
              <p *ngIf="formularioPedidoVenta.get('localidad').hasError('required')">Este campo es obligatorio</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="latitud">Latitud</label>
            <input formControlName="latitud" type="number" id="latitud" class="form-control" [(ngModel)]="pedidoVenta.domicilio.latitud">
            <div *ngIf="formularioPedidoVenta.get('latitud').errors && formularioPedidoVenta.get('latitud').dirty" class="alert alert-danger">
              <p *ngIf="formularioPedidoVenta.get('latitud').hasError('required')">Este campo es obligatorio</p>
              <p *ngIf="formularioPedidoVenta.get('latitud').hasError('pattern')">Ingrese una latitud válida</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="longitud">Longitud</label>
            <input formControlName="longitud" type="number" id="longitud" class="form-control" [(ngModel)]="pedidoVenta.domicilio.longitud">
            <div *ngIf="formularioPedidoVenta.get('longitud').errors && formularioPedidoVenta.get('longitud').dirty" class="alert alert-danger">
              <p *ngIf="formularioPedidoVenta.get('longitud').hasError('required')">Este campo es obligatorio</p>
              <p *ngIf="formularioPedidoVenta.get('longitud').hasError('pattern')">Ingrese una longitud válida</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
              <label for="gastoenvio">Gasto de envio</label>
              <input formControlName="gastoenvio" type="number" id="gastoenvio" class="form-control" [(ngModel)]="gastoenvioAux">
              <div *ngIf="formularioPedidoVenta.get('gastoenvio').errors && formularioPedidoVenta.get('gastoenvio').dirty" class="alert alert-danger">
                <p *ngIf="formularioPedidoVenta.get('gastoenvio').hasError('required')">Este campo es obligatorio</p>
                <p *ngIf="formularioPedidoVenta.get('gastoenvio').hasError('pattern')">Ingrese un gasto de envio válido</p>
              </div>
            </div>
          </div>
      </div>
      <br>
      <div class="ui-helper-clearfix" style="width:100%">
        <button type="submit" class="btn btn-success btn-lg" style="float: right;" [disabled]="formularioPedidoVenta.invalid" (click)="save()">Guardar</button>
        <button type="submit" class="btn btn-success btn-lg" style="float: right; margin-right: 10px" (click)="volver()">Regresar</button>
      </div>
    </form>
  </div>
</div>
<div class="box box-primary">
  <div class="box-header with-border">
    <h3>DETALLES</h3>
    <hr>
    <h6 style="color:red" *ngIf="!pedidoVenta.idpedidoventa">SE REQUIERE UN PEDIDO DE VENTA EXISTENTE</h6>
    <div class="row" *ngIf="pedidoVenta.idpedidoventa">
      <div class="col-md-4">
        <form [formGroup]="formularioPedidoVentaDetalle" novalidate class="form-group">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="cantidad">Cantidad</label>
                <input formControlName="cantidad" type="number" id="cantidad" class="form-control" [(ngModel)]="pedidoVentaDetalle.cantidad">
                <div *ngIf="formularioPedidoVentaDetalle.get('cantidad').errors && formularioPedidoVentaDetalle.get('cantidad').dirty" class="alert alert-danger">
                  <p *ngIf="formularioPedidoVentaDetalle.get('cantidad').hasError('required')">Este campo es obligatorio</p>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="subtotal">Sub total</label>
                <input formControlName="subtotal" type="number" id="subtotal" class="form-control" [(ngModel)]="pedidoVentaDetalle.subtotal">
                <div *ngIf="formularioPedidoVentaDetalle.get('subtotal').errors && formularioPedidoVentaDetalle.get('subtotal').dirty" class="alert alert-danger">
                  <p *ngIf="formularioPedidoVentaDetalle.get('subtotal').hasError('required')">Este campo es obligatorio</p>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="porcentajeDescuento">Descuento
                  <strong>%</strong>
                </label>
                <input formControlName="porcentajeDescuento" type="number" id="porcentajeDescuento" class="form-control" [(ngModel)]="pedidoVentaDetalle.porcentajedescuento">
                <div *ngIf="formularioPedidoVentaDetalle.get('porcentajeDescuento').errors && formularioPedidoVentaDetalle.get('porcentajeDescuento').dirty"
                  class="alert alert-danger">
                  <p *ngIf="formularioPedidoVentaDetalle.get('porcentajeDescuento').hasError('required')">Este campo es obligatorio</p>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="articulo">Articulo</label>
                <select formControlName="articulo" id="idarticulo" class="form-control" [(ngModel)]="pedidoVentaDetalle.idarticulo">
                  <option *ngFor="let articulo of articulos" [ngValue]="articulo.idarticulo">{{articulo.denominacion}}</option>
                </select>
                <div *ngIf="formularioPedidoVentaDetalle.get('articulo').errors && formularioPedidoVentaDetalle.get('articulo').dirty"
                  class="alert alert-danger">
                  <p *ngIf="formularioPedidoVentaDetalle.get('articulo').hasError('required')">Este campo es obligatorio</p>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="ui-helper-clearfix" style="width:100%">
            <button type="submit" class="btn btn-success btn-lg" style="float: right;" [disabled]="formularioPedidoVentaDetalle.invalid"
              (click)="guardarDetalle()">Agregar</button>
          </div>
        </form>
      </div>
      <div class="col-md-8">
        <p-dataTable [value]="pedidosVentaDetalles" sortMode="single" reorderableColumns="true" [globalFilter]="gb" scrollable="true"
          scrollHeight="450px" columnResizeMode="expand" [paginator]="true" rows="15" [responsive]="true">

          <p-column field="cantidad" header="Razon social" [sortable]="false"></p-column>
          <p-column field="subtotal" header="Cuit" [sortable]="false"></p-column>
          <p-column field="porcentajedescuento" header="Saldo" [sortable]="false"></p-column>
          <p-column field="articulo.denominacion" header="Saldo" [sortable]="false"></p-column>

        </p-dataTable>
      </div>
    </div>
  </div>
</div>